.flair {

background-image:url(https://b.thumbs.redditmedia.com/0_FWh3nbjH11OtWnsTdEKQztfYQbDpIojV5Z_RFwYGM.png) !important;

}

.flair-3lau {
    width: 58px;
    height: 15px;
    background-position: 0 0;
}

.flair-aboveandbeyond {
    width: 54px;
    height: 20px;
    background-position: -58px 0;
}

.flair-adventureclub {
    width: 63px;
    height: 27px;
    background-position: -112px 0;
}

.flair-adventureclub2 {
    width: 64px;
    height: 27px;
    background-position: -175px 0;
}

.flair-aerochord {
    width: 61px;
    height: 27px;
    background-position: -239px 0;
}

.flair-afrojack {
    width: 90px;
    height: 15px;
    background-position: -300px 0;
}

.flair-alanwalker {
    width: 27px;
    height: 27px;
    background-position: -390px 0;
}

.flair-alesso {
    width: 52px;
    height: 25px;
    background-position: -417px 0;
}

.flair-alisonwonderland {
    width: 31px;
    height: 30px;
    background-position: -469px 0;
}

.flair-alyandfila {
    width: 65px;
    height: 35px;
    background-position: -500px 0;
}

.flair-aphextwin {
    width: 35px;
    height: 35px;
    background-position: -565px 0;
}

.flair-arminvanbuuren {
    width: 68px;
    height: 27px;
    background-position: -600px 0;
}

.flair-arminvanbuuren2 {
    width: 34px;
    height: 20px;
    background-position: -668px 0;
}

.flair-arty {
    width: 52px;
    height: 15px;
    background-position: -702px 0;
}

.flair-autograf {
    width: 53px;
    height: 35px;
    background-position: -754px 0;
}

.flair-avicii {
    width: 65px;
    height: 15px;
    background-position: -807px 0;
}

.flair-avicii2 {
    width: 33px;
    height: 15px;
    background-position: -872px 0;
}

.flair-axwellandingrosso {
    width: 26px;
    height: 27px;
    background-position: -905px 0;
}

.flair-axwellandingrosso2 {
    width: 26px;
    height: 27px;
    background-position: -931px 0;
}
