.flair-letter-a {

background-image:url(https://b.thumbs.redditmedia.com/2fokzm8d27sTP5ZPRYw9Lva2pJ5bb0AqKhSnSpo-2UM.png) !important;

}

.flair-3lau {
    width: 58px;
    height: 15px;
    background-position: 0 0;
}

.flair-aboveandbeyond {
    width: 54px;
    height: 20px;
    background-position: -58px 0;
}

.flair-adventureclub {
    width: 63px;
    height: 27px;
    background-position: 0 -20px;
}

.flair-adventureclubcolor {
    width: 64px;
    height: 27px;
    background-position: -63px -20px;
}

.flair-aerochord {
    width: 61px;
    height: 27px;
    background-position: 0 -47px;
}

.flair-afrojack {
    width: 90px;
    height: 15px;
    background-position: -61px -47px;
}

.flair-alanwalker {
    width: 27px;
    height: 27px;
    background-position: -61px -62px;
}

.flair-alesso {
    width: 52px;
    height: 25px;
    background-position: -88px -62px;
}

.flair-alisonwonderland {
    width: 31px;
    height: 30px;
    background-position: 0 -87px;
}

.flair-alyfila {
    width: 65px;
    height: 35px;
    background-position: -31px -89px;
}

.flair-aphextwin {
    width: 35px;
    height: 35px;
    background-position: -96px -87px;
}

.flair-arminvanbuuren {
    width: 68px;
    height: 27px;
    background-position: 0 -124px;
}

.flair-arminvanbuuren2 {
    width: 34px;
    height: 20px;
    background-position: -112px 0;
}

.flair-arty {
    width: 52px;
    height: 15px;
    background-position: -96px -122px;
}

.flair-autograf {
    width: 53px;
    height: 35px;
    background-position: -146px 0;
}

.flair-avicii {
    width: 65px;
    height: 15px;
    background-position: -140px -62px;
}

.flair-avicii2 {
    width: 33px;
    height: 15px;
    background-position: -151px -35px;
}

.flair-axwellingrosso {
    width: 26px;
    height: 27px;
    background-position: -140px -77px;
}

.flair-axwellingrosso2 {
    width: 26px;
    height: 27px;
    background-position: -166px -77px;
}